node-red-flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Temperature-Monitor-System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f514061e7baf239",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "SensorData",
        "host": "192.168.0.80",
        "port": "8086",
        "tls": false
    },
    {
        "id": "55322f540e98441e",
        "type": "mqtt-broker",
        "name": "MQTT Docker",
        "broker": "192.168.0.80",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "36c72d78e8268ebc",
        "type": "data-generator",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "json",
        "template": "{\n    \"temperature\": \"{{int 1 100}}\",\n    \"humedity\": \"{{int 1 100}}\"\n}",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a2fde6f9410ea771"
            ]
        ]
    },
    {
        "id": "405b5e7ce4bdd4ed",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "36c72d78e8268ebc"
            ]
        ]
    },
    {
        "id": "d96ed83c78f181d0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "a2fde6f9410ea771",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = {\n  // You bucket\n  // Optional (it can be defined in the node credentials settings)\n  bucket: 'SensorData',\n  org: 'Group5',\n\n  // Precision of timestamp\n  // Optional\n  // Can be `ns` (nanoseconds),\n  //        `us` (microseconds),\n  //        `ms` (milliseconds),\n  //        `s` (seconds).\n  // The default is `ns`\n  // Note: if you set the `timestamp` field to `Date.now()`, you have to set the `precision` to `ms`\n  precision: 'ms',\n\n  // Data to send to InfluxDB\n  // Can be an array of objects or only one object\n  data: [\n    {\n      measurement: 'machinerySensor',\n\n      tags: {\n        deviceId: 'arduinoUno',\n        location: 'room1'\n      },\n\n      fields: {\n        temperature: 12,\n        humidity: 46\n      },\n\n      timestamp: Date.now()\n    },\n\n    // More data can be send here, simply re add an object\n    // { ... },\n  ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "d96ed83c78f181d0",
                "a4c1547b0c0705ea"
            ]
        ]
    },
    {
        "id": "a4c1547b0c0705ea",
        "type": "Stackhero-InfluxDB-v2-write",
        "z": "f6f2187d.f17ca8",
        "server": "3f514061e7baf239",
        "name": "SensorData",
        "x": 770,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4bc86f950a0d487e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "/home/sensors",
        "topic": "/home/sensors",
        "qos": "2",
        "datatype": "json",
        "broker": "55322f540e98441e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 380,
        "wires": [
            []
        ]
    }
]